/* Variables */
$font-text: 'Amarante', sans-serif;
$font-header: 'Montserrat', sans-serif;
$color1: #ffffff;
$color2: #2c2c54;
$color3: #fed136;
$color-link: #3498db;
$background-header: url('../images/background-image.png');
$transition: all 1s;
/*Global*/
*, *::before, *::after {
  box-sizing: border-box;
}
.row::before,
.row::after {
  clear: both;
  content: "";
  display: table;
}
body {
  margin: 0;
  font-size: 16px;
  line-height: 1.7;
  font-family: $font-text;
  color: $color2;
}
h1 {
  font-size: 35px;
  font-family: $font-header;
}
h2 {
  font-size: 20px;
  font-family: $font-text;
  padding: 10px 0 10px 10px;
}
h3 {
  font-size: 16px;
  font-family: $font-header;
  font-weight: bold;
}
p {
  padding: 0 10px;
  margin: 0;
  font-family: $font-text;
  font-weight: 300;
}
section {
  padding: 96px 0;
}
.container {
  max-width: 1140px;
  padding: 0 20px;
  margin: 0 auto;
}
.btn {
  display: inline-block;
  min-width: 240px;
  min-height: 60px;
  padding: 16px;
  border-radius: 5px;
  font-family: $font-header;
  font-size: 20px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  background-size: 300%;
  transition: $transition;
  background: $color3;
  color: $color1;
}
.btn:hover {
  color: $color2;
  background: $color1;
}

/* Header */
header {
  background: $background-header;
  background-size: cover;
  background-position: bottom;
}
.header {
  background: rgba(0,0,0,0.5);
}
header:after {
  background: #000;
}
.splash {
  color: $color1;
  min-height: 700px;
  display: flex;
}
.splash-inner {
  margin: auto;
  max-width: 70%;
  text-align: center;
  h1 {
    font-family: $font-text;
    font-size: 50px;
  }
  h2 {
    font-family: $font-header;
    font-size: 60px;
  }
}
.page-title {
  margin: 0;
  font-size: 72px;
  font-weight: 700;
  line-height: 1.2;
  font-family: $font-header;
  span {
    font-family: $font-text;
  }
}
.page-subtitle {
  margin: 24px 0;
  font-weight: 400;
  font-size: 16px;
}

/*Navigation*/
.logo {
  margin: 10px 0 0 0;
  flex: 0 0 25%;
}
.menu {
  align-self: center;
}
.navigation {
  padding: 12px 0;
  flex: 0 0 100%;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  ul {
    padding: 0;
    margin: 0;
    list-style-type:none;
  }
  li {
    display: inline-block;
    margin: 0 28px 0 0;
    position: relative;
  }
  a {
    text-decoration: none;
    font-family: $font-header;
    color: $color1;
    &:hover {
      color: $color3;
    }
  }
  .container {
    display: flex;
    justify-content: space-between;
  }
}
/* Section Services */
.services {
  h1 {
    text-align: center;
    margin: 0;
    padding: 0;
  }
  h2 {
    text-align: center;
    margin: 0;
    padding: 0;
    font-weight: 300;
  }
  i {
    font-size: 30px;
    background: $color1;
    width: 60px;
    height: 60px;
    line-height: 60px;
    color: $color2;
    border-radius: 50%;
    text-align: center;
    border: 3px solid $color3;
    color: $color3;
    margin: 0 0 20px 0;
  }
  .container-wrapper {
    padding: 80px 0 0 0;
    display: flex;
    margin: auto;
    flex-wrap: wrap;
    justify-content: space-between;
    .container-wrapper-column {
      align-items: center;
      flex: 0 0 33.333%;
      position: relative;
      text-align: center;
    }
  }
}